
html, body {
  width: 100%;
height: 100%;
margin: 0;
}

#title {
  font-size: 50px;
  color: #003F91;
font-family: 'Balsamiq Sans', cursive;
  /* margin-top: 0px; */
  /* margin-bottom: 35px; */
}

#subtitle{
  font-size: 20px;
  color: #003F91;
  font-family: 'Poppins', sans-serif;

}

#text {
  font-size: 17px;
  color: #003F91
;
font-family: 'Poppins', sans-serif;
  margin-top: 0px;
  margin-bottom: 35px;
}


header {
  display: block;
  margin:0;
}


footer {
  color: #2E2E3A;
  padding-top: 100px;
  margin: auto;
  text-align: left;
  width: 500px;
  height: 200px;
}

.title-container {
  padding: 40px;
  margin: auto;
  text-align: center;
  width: 75%;
}

.text-container {
  /* padding: 40px; */
  margin: auto;
  text-align: center;
  width: 75%;
}

.image_container {
  position: relative;
  margin-top: 50px;
  text-align: center;
}


/* img { */
  /* border: 1px solid #ddd; */
  /* margin-left: 20px; */
  /* border-radius: 10px; */
  /* padding: 5px; */
  /* width: 300px; */
  /* max-width: 100%;
height: auto;
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
} */
