
body {
  margin: 0;
/* font-family: 'Nunito', sans-serif;
  color: #2E2E3A;
  line-height: 1.5; */
}


header {
  /* background-color: #79B791; */
}


footer {
    color: #2E2E3A;
  padding-top: 100px;
  margin: auto;
  text-align: left;
  width: 90%;
  height: 200px;
}

.title-container {
  padding: 40px;
  margin: auto;
  text-align: center;
  width: 75%;
}

.text-container {
  padding: 40px;
  margin: auto;
  text-align: center;
  width: 75%;
}

.image_container {
  /* position: absolute; */
  max-width: 500px;

  /* padding: 10px; */
  margin: auto;
  text-align: center;

}


#title {
  font-size: 50px;
  color: #003F91;
font-family: 'Balsamiq Sans', cursive;
  /* margin-top: 0px; */
  /* margin-bottom: 35px; */
}

#subtitle{
  font-size: 20px;
  color: #003F91;
  font-family: 'Poppins', sans-serif;
}

#text {
  font-size: 17px;
  color: #003F91
;
font-family: 'Poppins', sans-serif;
  /* margin-top: 0px; */
  /* margin-bottom: 35px; */
}


/* header {

width:100%;
  margin:0;
  background-color: black;
} */



img {
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 10px;
  /* width: 300px; */
}

img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
