
html{
  margin: 0;
      height: 100%;
}
  body {
    min-height: 100vh;
  /* margin: 0; */
  /* width: 100%;
   height: 1000px; */
   background-image: url('https://thao-nguyen-design.github.io/project-1-emulation/background.png');
   background-repeat: no-repeat;
   background-size: 100% 100%;
   /* border: 1px solid red; */

}


header {
  margin: 0;
  padding-top: 18%;
  /* background-image: url('https://thao-nguyen-design.github.io/project-1-emulation/background.png');
  background-repeat: no-repeat;
  background-size: 100% 100%; */
  /* background-color: #79B791; */
}


footer {
  color: #2E2E3A;
  margin: 10% auto;
  text-align: center;
  width: 100%;
}

.title-container {
  padding: 40px;
  margin: auto;
  text-align: center;
  width: 75%;
}

.text-container {
  padding: 40px;
  margin: auto;
  text-align: center;
  width: 75%;
}


#title {
  font-size: 55px;
  color: #003F91;
font-family: 'Balsamiq Sans', cursive;
  /* margin-top: 0px; */
  /* margin-bottom: 35px; */
}

#subtitle{
  font-size: 35px;
  color: #003F91;
  font-family: 'Balsamiq Sans', cursive;
}

#text {
  font-size: 17px;
  color: #003F91
;
font-family: 'Poppins', sans-serif;
  /* margin-top: 0px; */
  /* margin-bottom: 35px; */
}

.buttonClass {
  width:100%;
margin:auto;
  text-align: center;
  display: inline-block;
}

#mode1{
  border: 3px solid #003F91
;
  background-color: transparent;
  color: #003F91
;
  border-radius: 8px;
  padding: 7px 12px;
  font-size: 25px;
font-family: 'Poppins', sans-serif;
  margin-right: 25px;
  cursor: pointer;
}

#mode1:hover {
  color: white;
  background-color: #003F91
;

}

#mode2{
  border: 3px solid #003F91
;
  background-color: transparent;
  color: #003F91
;
  border-radius: 8px;
  padding: 7px 12px;
  font-size: 25px;
font-family: 'Poppins', sans-serif;
  margin-right: 25px;
  cursor: pointer;
}

#mode2:hover {
  color: white;
  background-color: #003F91
;
}

#mode3{
  border: 3px solid #003F91
;
  background-color: transparent;
  color: #003F91
;
  border-radius: 8px;
  padding: 7px 12px;
  font-size: 25px;
font-family: 'Poppins', sans-serif;
  /* margin-left: 25px; */
  cursor: pointer;
}

#mode3:hover {
  color: white;
  background-color: #003F91;
}
